.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product{
    width: 49%;
    margin: 30px 5px;
}
.product img{
    width: 100%;
    border-radius: 12px;
}
.product h1{
    font-weight: 100;
    font-size: 30px;
}
.product h1 svg{
    transform: translateY(5px);
    font-weight: 100;
    color: blue;
}
.product p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 100;
}


@media screen and (max-width: 990px){
    .product{
        width: 100%;
    }
}