*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .container{
    width: 1250px;
    margin: auto;
  }
  hr{
    border: none;
    border-bottom: 1px solid #ddd;
  }
  li{
    list-style: none;
  }
  a{
    color: inherit;
    text-decoration: inherit;
  }
  
  
  @media screen and (max-width: 1280px) {
    .container{
      width: 96%;
    }
  }